# .env.example
# Este arquivo é versionado pelo Git e serve de molde para o time.
# Ao clonar o projeto, devem copiar este arquivo com o nome `.env`
# e alterar as variáveis locais, sem afetar o repositório principal.

VITE_API_GATEWAY_URL=http://localhost:8080
